template(name='passwordsField')
  .form-group
    input(autofocus id=name name=name type=type class='form-control' 
      value=value placeholder=placeholder data-parsley-minlength=min required)


template(name='passwordsWrapper')
  .container
    if logo
      .passwords-logo
        a(href='/' )
          img(src='#{logo}' alt='logo')
    
    .col-sm-4.col-sm-offset-4
      .passwords
        +flash
        h3 #{head}
        +UI.dynamic template=route data=top
        form.passwords-form(id=formId)
          each fields
            +passwordsField
          +UI.dynamic template=route data=middle
          button(type='submit' disabled=disabled).btn.btn-block.btn-default.submit #{submit} 
            | !{spinner}
        +UI.dynamic template=route data=bottom
  

template(name='signUp')
  if top
    p.passwords-signin-cta
      | {{i18n "signUp.allreadyHave"}} 
      a(href="{{pathFor 'signIn'}}") {{i18n "signUp.signIn"}}
  else if bottom 
    if terms
      if privacy
        p.passwords-agreement
          | {{i18n "signUp.clickAgree"}}
          a(href='#{privacy.url}' target='#{privacy.target}') {{i18n "signUp.privacy"}}
          | {{i18n "signUp.and"}}
          a(href='#{terms.url}' target='#{terms.target}') {{i18n "signUp.terms"}}


template(name='signIn')
  if middle
    p
      a(href="{{pathFor 'forgotPassword'}}") {{i18n "signIn.forgotPassword"}}
  else if bottom
    p.entry-signup-cta {{i18n "signIn.dontHave"}} 
      a(href="{{pathFor 'signUp'}}") {{i18n "signIn.signUp"}}
